*~
.svn
.svn
/obj
/bin
/out
/gen
/libs
/ActionBarSherlock
.pc
.patched_sources
/src/org/pjsip
/run
/smart
/CSipSimple.apk
/local.properties
/MicroSIP-3.3.22*
res/drawable-hdpi/ic_wizard_indonix.png
res/drawable-hdpi/ic_wizard_mynetphone.png
res/drawable-xhdpi/ic_wizard_indonix.png
src/com/csipsimple/wizards/impl/Indonix.java
src/com/csipsimple/wizards/impl/MyNetPhone.java
jni/codec2/sources/
jni/fdk_aac/sources/
jni/ffmpeg/ffmpeg_src/
jni/ffmpeg/x264_src/
jni/libvpx/build/
jni/libvpx/sources/
jni/openssl/sources/
jni/opus/sources/
jni/pjsip/sources/
jni/silk/sources/
jni/third_party/libyuv/
jni/webrtc/sources/
jni/zrtp4pj/sources/
logcat
jni/swig-glue/nativesrc/
